<h1>Informes Facturas</h1>
<input type="button" onclick="location.href='cantidad_facturas_lectura_correcta';" value="cantidad_facturas_lectura_correcta" />
<input type="button" onclick="location.href='cantidad_facturas_lectura_incorrecta';" value="cantidad_facturas_lectura_incorrecta" />




<script>
   
    </script>
<br>

{% if plot_url %}
    <img src= {{plot_url}} alt = "Chart cannot be displayed">
{% endif %}


<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>


